{% extends "layout.html" %}

{% block title %}Upload CSV{% endblock %}

{% block content %}
<div class="form-card">
    <h2>Upload CSV</h2>

    <div class="download-container">
        <form method="GET" enctype="multipart/form-data" action="/download_question">
            <button type="submit">Download Question</button>
        </form>
    </div>
    <br><br>
    <form method="POST" enctype="multipart/form-data" action="/cluster">
        <div class="file-input-wrapper">
            <label for="csv_file" class="file-input-label">Choose CSV File</label>
            <input type="file" id="csv_file" name="csv_file" accept=".csv">
            <div id="file-name" class="file-name">No file selected</div>
        </div>
        <button type="submit">Upload</button>
    </form>
    <br>

    <script>
        document.getElementById('csv_file').addEventListener('change', function() {
            const fileName = this.files.length > 0 ? this.files[0].name : "No file selected";
            document.getElementById('file-name').textContent = fileName;
        });
    </script>

    {% if csv_info %}
        {% if csv_info.error %}
            <p style="color:red;">{{ csv_info.error }}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}